<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></head>
<!-- Begin navigation fragments -->
<nav class="cnav navbar navbar-expand" th:fragment="header">
    <a class="navbar-brand" href="/">
        <img alt="" class="d-inline-block align-center"
             src=""
             th:src="@{/images/ncs_logo.png}"
             height="50"
             width="auto">
        P1-CodeCodeCoders
    </a>

    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Starters
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/greet}">Spring Greeting</a>
                    <a class="dropdown-item" th:href="@{/binary}">Binary Math</a>
                    <a class="dropdown-item" th:href="@{/image}">Images</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/data/person}">SQL Person</a>
                    <a class="dropdown-item" th:href="@{/data/scrum_team}">SQL Scrum Teams</a>
                    <a class="dropdown-item" th:href="@{/data/covid19}">RapidAPI Covid19</a>
                    <a class="dropdown-item" th:href="@{/data/dataops}">Data Ops</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Algorithms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/fib}">Fibonacci</a>
                    <a class="dropdown-item" th:href="@{/pali}">Palindrome</a>
                    <a class="dropdown-item" th:href="@{/snake}">JavaScript Snake</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Course-materials
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/course/repos}">Repos</a>
                    <a class="dropdown-item" th:href="@{/course/deploy}">Deployment</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/pdf/sanvipal_javaref.pdf}">Traditional Journal</a>
                    <!--
                    <a class="dropdown-item" href="https://freekashmir.nighthawkcodingsociety.com/" target="_blank" rel="noopener noreferrer">PBL Journal</a>
                    -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/course/tri1}">Tri 1</a>
                    <a class="dropdown-item" th:href="@{/course/tri2}">Tri 2</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/aboutus}">About Us</a>

                </div>

            </li>
        </ul>
    </div>
</nav>
<!-- Begin navigation fragments -->
</body>
</html>