<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></head>
<!-- Begin navigation fragments -->
<nav class="cnav navbar navbar-expand" th:fragment="header">
    <a class="navbar-brand" href="/">
        <img alt="" class="d-inline-block align-center"
             src=""
             th:src="@{/images/ncs_logo.png}"
             height="50"
             width="auto">
        P1-CodeCodeCoders
    </a>

    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/data/person}">SQL Person</a>
                    <a class="dropdown-item" th:href="@{/data/covid19}">RapidAPI Covid19</a>
                    <a class="dropdown-item" th:href="@{/data/dataops}">Data Ops</a>
                </div>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Course-materials-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" th:href="@{/course/repos}">Repos</a>-->
<!--                    <a class="dropdown-item" th:href="@{/course/deploy}">Deployment</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                </div>-->
<!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/aboutus}">About Us</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>